*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.sidbar{
    width: 300px;
    background-color: #121212;
    padding: 20px 20px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-logo i{
    font-size: 25px;
}

.nav-library{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.nav-library i, .nav-library p{
    color: #b7b3b6;
    font-size: 14px;
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 18px;
    border-radius: 8px;
}

.nav-playlist button, .nav-podcast button{
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-playlist p, .nav-podcast p{
    font-size: 12px;

}

.nav-footer{

    margin-top: 250px;
}

.nav-footer a{
    color: #a7a7a7;
    text-decoration: none;
    margin-right: 12px;
    font-size: 12px;
    margin-bottom: 8px;
}

.nav-lang-button{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin: 16px;
    cursor: pointer;
    border-radius: 16px;
}

main{
    padding: 24px;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
}

.search-bar{
    display:flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input{
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;

}

.artists-grid, .albums-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
}

.artist-card, .album-card{
    background-color: #181818;
    padding: 16px;
    transition: background-color o.3s;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.artist-card:hover, .album-card:hover{
    background-color: #282828;
    transform: translateY(-5);
}


.artist-card img, .album-card img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 16px;
    max-height: 70%;
}

.artist-card h3, .album-card h3{
    font-size: 12px;
}


.artist-card p, .album-card p{
    font-size: 10px;
    color: #b7b3b6;
}

.content{
    margin-top: 40px;
}

.content h2{
    margin-bottom: 10px;
}

.banner{
    position: fixed;
    bottom: 0;
    right: 0;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(198, 45, 253, 1) 100%);
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.banner h2{
    font-size: 14px;

}

.banner p{
    font-size: 10px;
}

.banner button{
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
}